{% extends 'base.html.twig' %}

{% block title %}Incidencias{% endblock %}

{% block body %}
    {{ include('layout/header/index.html.twig') }}
    <div>
        <h1>MODULO DE INCIDENCIAS</h1>
    </div>
    <div>
        <h2>Listado de incidencias</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Estado</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for incidencium in incidencias|sort((a, b) => b.fecha <=> a.fecha) %}

                <tr>
                    <td> <a style="text-decoration: none; color: black" href="{{ path('app_incidencia_show', {'id': incidencium.id}) }}">{{ incidencium.id }}</a></td>
                    <td> <a style="text-decoration: none; color: black" href="{{ path('app_incidencia_show', {'id': incidencium.id}) }}">{{ incidencium.titulo }}</a></td>
                    <td> <a style="text-decoration: none; color: black" href="{{ path('app_incidencia_show', {'id': incidencium.id}) }}">{{ incidencium.fecha ? incidencium.fecha|date('Y-m-d H:i:s') : '' }}</a></td>
                    <td> <a style="text-decoration: none; color: black" href="{{ path('app_incidencia_show', {'id': incidencium.id}) }}">{{ incidencium.estado }}</a></td>
                </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <div>
        <button>
            <a style="text-decoration: none; color: black" href="{{ path('app_incidencia_new') }}"> Registrar incidencia </a>
        </button>
    </div>
{% endblock %}
